*.cache
*.db
*.elc
*.eld
*.sqlite
*~
.mc-lists.el
.org-id-locations
\#*
ac-comphist.dat
amx-items
auto-save-list
backups
bookmarks
cider-repl-history
elpa
emojis
eshell
places
presentation.el
private.el.gpg
recentf
request
session*
snippets
swank
tramp
transient
url
var